.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient-custom {
  background-image: linear-gradient(90.42deg, #692cd4 0.33%, #e11286 101.05%);
}
.gradient-text {
  background: linear-gradient(90.42deg, #692cd4 0.33%, #e11286 101.05%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
